@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.litask{
    display: flex;
    justify-content: space-between;
    padding: 0px 170px 0px 100px;
}
body{
    background-color: black;
    color: whitesmoke;
}
.bigContainer{
    padding: 0px 200px 0px 200px;
}

.bigTitle{
    padding-bottom: 40px;
}

#newtask{
    margin-bottom: 50px;
}

task:hover{
    text-decoration-line: line-through;
}

